/.env
/.vscode
/audio.py
/audios
/desktop.ini
/images
/index.html
/lion.wav
/main.c
/main.exe
/main2.py
/mainkey.py
/physics.py
/python_sound.wav
/reader.js
/test.py
/trial.py
/Used
/videos
/videosSoundVideo_2026-02-10_06-09-16.mp4
/videosSoundVideo_2026-02-10_06-22-59.mp4
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
